@import "h";
$blane-color: #161616;


 .body404{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     background: $blane-color;
     width: 100%;
     height: 100vh;
     display:flex;
     justify-content: center;
     align-items: center;
     background-image: url("/img/error404back2.jpg");
     background-size: cover;

 }

 .container-404 {
     text-align: center;
     color: #fff;
     max-width: 400px;
     background-color: $blane-color;
     margin: 20px;
     padding:50px;
     border-radius: 7px;
   .p404{
       font-weight: bold;

   }   
 }