
//Background Informacion Seccion 1 
/*Background Infor Seccion 1*/
.background-index-1 {
    background-color: #161616;
}



//Background - Norteamericanas
.background-index-3 {
    background: linear-gradient(
        0deg,
        rgba(24, 24, 24, 0.877),
        rgba(27, 27, 27, 0.582)
      ),
      url("../../img/background/background-norteamericanas21C.jpg");
    min-height: 85vh;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;

  
   
}

//Background Deportes
/* Background Deportes*/
.background-index-4 {
    background: linear-gradient(
        0deg,
        rgba(24, 24, 24, 0.877),
        rgba(27, 27, 27, 0.582)
      ),
      url("../../img/background/slam_dunk_1920_1080.jpg");
    min-height: 85vh;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
  
   
}


