
.background-index-1 {
    background-color: #161616;
}

.background-index-2 {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/background/background-index4.jpg");
    background-attachment: fixed;
    
   
}

//Background - Norteamericanas
.background-index-3 {
    background: linear-gradient(
        0deg,
        rgba(24, 24, 24, 0.877),
        rgba(27, 27, 27, 0.582)
      ),
      url("../../img/background/background-norteamericanas21.jpg");
    min-height: 85vh;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;

  
   
}

//Background Deportes

.background-index-4 {
    background: linear-gradient(
        0deg,
        rgba(24, 24, 24, 0.877),
        rgba(27, 27, 27, 0.582)
      ),
      url("../../img/background/background-index3.jpg");
    min-height: 85vh;
    display:flex; 
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    background-size:cover;
    background-position:center;
  
   
}


.p-info {
    color: #fff;

    text-align: center;
    margin: 100%  0% 100% 50% ;
}

.info-imagen {
    width: 20%;
}