@import "h";
$blane-color: #161616;



#contatti{
    background-color: #161616;
    letter-spacing: 2px;
   
    }
  #contatti a{
    color: #fff;
    text-decoration: none;
  }
  
  
  @media (max-width: 575.98px) {

    #contatti{
      padding-bottom: 200px;
    }

    
   }
  
  
  @media (min-width: 576px) {
  
     #contatti{
       padding-bottom: 200px;
      }
  
 
   }
  
  @media (min-width: 768px) {
  
    #contatti{
      padding-bottom: 100px;
    }
  
  
  }
  
  @media (min-width: 992px) {
    #contatti{
      padding-bottom: 5px;
    }
  

  }
  