@import "h";
$blane-color: #161616;


.contacto-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin:auto; 
    background-color: $blane-color;
    width: 450px;
    color: #fff;
    font-weight:15px;

    .info-form {
        list-style: none;
        .li-form{
            text-align:center;
            justify-content:center;
       
        }
       }

}

