.contacto-p {
    font-family: 'Masao', sans-serif;  
    font-size: 3rem;
      margin-left: 5px;
      line-height: 150%;
      font-weight: lighter;
      
      
      
  }
  
  a {
    font-family: 'Masao', sans-serif;
    letter-spacing: 1px; 
  }
  
  i {
    font-family: 'Masao', sans-serif; 
    letter-spacing: 2px;
  }
  
  p {
    font-family: 'Masao', sans-serif;  
      letter-spacing: 1px;
      margin-left: 5px;
      line-height: 150%;
      font-weight: lighter;
    
  }