/*CONTACTO*/
.contacto-p {
    font-family: sans-serif;  
    font-size: 2rem;
    margin-left: 5px;
    line-height: 150%;
    font-weight: lighter;
    text-align:center;
    letter-spacing: 0px;
      
      

  }
  .contacto-p2 {
    font-family: sans-serif;
    text-align:center;

  }

  .ul-contacto-datos {
    list-style: none;
    text-align: center;

  }

  a {
    
    font-family: sans-serif;
    letter-spacing: 1px; 
  }
  
  i {
    font-family: sans-serif; 
    letter-spacing: 2px;
  }
  
 /*INDEX*/
  .pIndex {
    font-family: sans-serif;  
      letter-spacing: 1px;
      margin-left: 5px;
      line-height: 150%;
      font-weight: lighter;
      
  }

  

  .infoIndex{
    margin: 300px;
  }

  a.nav-link {
    font-family: 'Masao';
}

