.contacto-p {
      font-family: sans-serif;  
      font-size: 2rem;
      margin-left: 5px;
      line-height: 150%;
      font-weight: lighter;
     text-align:center;
      
      
  }
  
  a {
    
    font-family: sans-serif;
    letter-spacing: 1px; 
  }
  
  i {
    font-family: sans-serif; 
    letter-spacing: 2px;
  }
  
  p {
    font-family: sans-serif;  
      letter-spacing: 1px;
      margin-left: 5px;
      line-height: 150%;
      font-weight: lighter;
      
    
  }
  .pIndex {
    font-family: sans-serif;  
      letter-spacing: 1px;
      margin-left: 5px;
      line-height: 150%;
      font-weight: lighter;
      
  }

  

  .infoIndex{
    margin: 300px;
  }

  a.nav-link {
    font-family: 'Masao';
}