$blane-color: #161616;
$hStyles: (
    h1Style: 400%,
    h2Style: 200%,
    h3Style: 120%,
    
);

@each $name , $style in $hStyles {
    .#{$name}{
        font-family: 'Masao', sans-serif;
        font-size: $style;
        text-align:center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.877);
        letter-spacing: 2px;
        
    }
} 


.h3Contacto {
    text-align : center;
    margin:20px;
    justify-content: center;
    font-size: 35px;
    text-transform: uppercase;
}


.h3Section {
    color:orangered;
    margin: 30px;
    text-align:center;
    justify-content:center;
    font-size: 600%;
    letter-spacing: 5px;
    font-style: italic;
    
   
}


/*h1{
    text-align:center;
    justify-content: center;
    

}

h2 {
    text-align:center;
    justify-content: center;
}


h3 {
    text-align: center; 
    justify-content: center;
}

*/
