$blane-color: #161616;

@mixin hstyle  {
   
    font-family: 'Masao', sans-serif;
    text-align:center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.877);
    letter-spacing: 2px;
}

.h1Style {
    @include hstyle;
}

.h2Style {
    @include hstyle;
}


.h3Style {
    @include hstyle;
}

h1 {
    font-family: 'Masao', sans-serif;
}

h2 {
    font-family: 'Masao', sans-serif;
    margin: 10px;
}


