// Extra small devices (portrait phones, less than 576px)
@media (max-width: 280px) and (max-width:319px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 12px;
    }
    
    .btn-danger {
        font-size: 10px;
    }


}

@media (min-width: 320px) {
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size:16px;
    }

    h3 {
        font-size: 14px;
    }
}
@media (min-width:321px)and (max-width: 575.98px) { 
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 15px;
    }
 
  


}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    
        
    }
 

// Medium devices (tablets, less than 992px)
@media (min-width:768px) and (max-width: 991.98px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }

    .pIndex {
        font-size:  1.2em;
    }
 }

// Large devices (desktops, less than 1200px)
@media (min-width:992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .pIndex {
        font-size:  1.4rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }
 

   .a {
       font-size: 1.5rem;
   }

   a.dropdown-item {
    font-size: 16px;
}
}

@media (min-width:1200px) and (max-width:1920px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2rem;
    }

    .carousel-item .carousel-caption{
        top: 35%;
    }
 }  

