



@import "h";

@import "background_index";

@import "banner";

@import "contacto";

@import "cards-index";

@import "404";


@import "footer";

@import "font.scss";

.card-text {
     text-align:center;
    font-size: 20px; 

}

.tokio-logo {
    height: 10vh;
}

.background-commerce {
    background-image: url("../../img/background/background-index4.jpg");
   
}

body {
    background-color: rgba(0, 0, 0, 0.911);
  
  }

//Estilo Seccion 1 del Index

ul.dropdown-menu.show a {
    color: white;
    &:hover {
        color:orangered;
    }
}


ul.dropdown-menu.show {
    background-color: #161616;
}