
@import "../bootstrap_sass/bootstrap.scss"; 

@import "h";

@import "background_index";

@import "banner";

@import "contacto";

@import "cards-index";

@import "404";

@import "footer";




.card-text {
     text-align:center;
    font-size: 20px; 

}

.tokio-logo {
    height: 10vh;
}