.background-index-1 {
  background-color: #161616; }

.background-index-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/background/background-index4.jpg");
  background-attachment: fixed; }

.background-index-3 {
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.877), rgba(27, 27, 27, 0.582)), url("../../img/background/background-norteamericanas21.jpg");
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center; }

.background-index-4 {
  background: linear-gradient(0deg, rgba(24, 24, 24, 0.877), rgba(27, 27, 27, 0.582)), url("../../img/background/slam_dunk_1920_1080.jpg");
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center; }

.p-info {
  color: #fff;
  text-align: center;
  margin: 100%  0% 100% 50%; }

.info-imagen {
  width: 20%; }

.banner-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-1:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-2:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-3:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-5:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-6:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-7:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-8:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  top: 100px;
  height: 70vh;
  width: 100vpw;
  position: sticky; }

.banner-9:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1; }

.banner-1 {
  background-image: url("../../img/banner/banner-1.jpg"); }

.banner-2 {
  background-image: url("../../img/banner/banner-2.jpg"); }

.banner-3 {
  background-image: url("../../img/banner/banner-3.jpg"); }

.banner-4 {
  background-image: url("../../img/banner/banner-4.jpeg"); }

.banner-5 {
  background-image: url("../../img/banner/banner-5111.jpg"); }

.banner-6 {
  background-image: url("../../img/banner/banner-6.jpg"); }

.banner-7 {
  background-image: url("../../img/banner/banner-7.jpg"); }

.banner-8 {
  background-image: url("../../img/banner/banner-8.jpg"); }

.h1Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

.h2Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

.h3Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

h1 {
  font-family: 'Masao', sans-serif; }

h2 {
  font-family: 'Masao', sans-serif;
  margin: 10px; }

#contatti {
  background-color: #161616;
  letter-spacing: 2px; }

#contatti a {
  color: #fff;
  text-decoration: none; }

@media (max-width: 575.98px) {
  #contatti {
    padding-bottom: 300px; } }

@media (min-width: 576px) {
  #contatti {
    padding-bottom: 300px; } }

@media (min-width: 768px) {
  #contatti {
    padding-bottom: 100px; } }

@media (min-width: 992px) {
  #contatti {
    padding-bottom: 5px; } }

.h1Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

.h2Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

.h3Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

h1 {
  font-family: 'Masao', sans-serif; }

h2 {
  font-family: 'Masao', sans-serif;
  margin: 10px; }

.body404 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #161616;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/error404back2.jpg");
  background-size: cover; }

.container-404 {
  text-align: center;
  color: #fff;
  max-width: 400px;
  background-color: #161616;
  margin: 20px;
  padding: 50px;
  border-radius: 7px; }
  .container-404 .p404 {
    font-weight: bold; }

body {
  color: #ccc; }

.footer-widget p {
  margin-bottom: 27px; }

p {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 28px; }

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #007bff; }

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite; }

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px); } }

.animate-border.border-white:after {
  border-color: #fff; }

.animate-border.border-yellow:after {
  border-color: #F5B02E; }

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff; }

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF; }

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8; }

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%; }
  50% {
    width: 90%; }
  100% {
    width: 10%; } }

@keyframes primary-long {
  0% {
    width: 80%; }
  50% {
    width: 0%; }
  100% {
    width: 80%; } }

.dk-footer {
  padding: 75px 0 0;
  background-color: #151414;
  position: relative;
  z-index: 2; }

.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px; }

.dk-footer .contact-us .contact-info {
  margin-left: 50px; }

.dk-footer .contact-us.contact-us-last {
  margin-left: -80px; }

.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #007bff; }

.dk-footer-box-info {
  background: #202020;
  padding: 40px;
  z-index: 2; }

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
  margin-top: 10px;
  text-align: center; }

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  justify-content: center;
  width: 100%; }

.dk-footer-box-info .footer-social-link li {
  display: inline-block; }

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff; }

.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3B5998; }

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55ACEE; }

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #56df16; }

.dk-footer-box-info .footer-social-link a i.fa-whatsapp {
  background-color: #00bb2d; }

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #DD2A7D; }

.footer-social-link a {
  text-decoration: none; }

.footer-awarad {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-awarad p {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px; }

.footer-info-text {
  margin: 26px 0 32px; }

.footer-left-widget {
  padding-left: 80px; }

.footer-widget .section-heading {
  margin-bottom: 35px; }

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content; }

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0; }

.footer-widget li {
  margin-bottom: 18px; }

.footer-widget p {
  margin-bottom: 27px; }

.footer-widget a {
  color: #878787;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.footer-widget a:hover {
  color: #dc3545; }

.footer-widget:after {
  content: "";
  display: block;
  clear: both; }

.dk-footer-form {
  position: relative; }

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E; }

.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px; }

.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px; }

.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #007bff;
  background: #007bff;
  color: #fff; }

.dk-footer-form button:hover {
  cursor: pointer; }

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact-icon {
  position: absolute; }

.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff; }

.contact-info {
  margin-left: 75px;
  color: #fff; }

.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0; }

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #202020; }

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.copyright a:hover {
  color: #007bff; }

.copyright-menu ul {
  text-align: right;
  margin: 0; }

.copyright-menu li {
  display: inline-block;
  padding-left: 20px; }

.back-to-top {
  position: relative;
  z-index: 2; }

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #FA6742;
  border-color: #FA6742; }

a {
  text-decoration: none; }

.contacto-p {
  font-family: sans-serif;
  font-size: 2rem;
  margin-left: 5px;
  line-height: 150%;
  font-weight: lighter;
  text-align: left; }

a {
  font-family: sans-serif;
  letter-spacing: 1px; }

i {
  font-family: sans-serif;
  letter-spacing: 2px; }

p {
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 5px;
  line-height: 150%;
  font-weight: lighter; }

.pIndex {
  font-family: sans-serif;
  letter-spacing: 1px;
  margin-left: 5px;
  line-height: 150%;
  font-weight: lighter; }

.infoIndex {
  margin: 300px; }

a.nav-link {
  font-family: 'Masao'; }

.h1Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

.h2Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

.h3Style {
  font-family: 'Masao', sans-serif;
  text-align: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.877);
  letter-spacing: 2px; }

h1 {
  font-family: 'Masao', sans-serif; }

h2 {
  font-family: 'Masao', sans-serif;
  margin: 10px; }

@media (min-width: 1199.98px) {
  h1 {
    font-size: 7rem; }
  h3 {
    font-size: 3 rem; }
  .h1Style {
    font-size: 7rem; }
  .h2Style {
    font-size: 3rem; } }

@media (min-width: 576px) and (max-width: 991.98px) and (orientation: portrait) {
  .h1 {
    font-size: 1.5rem; }
  .h3 {
    font-size: 1rem; }
  .h1Style {
    font-size: 1.5rem; }
  .h2Style {
    font-size: 1.2rem; }
  .h3Style {
    font-size: 1rem; } }

@media (min-width: 991.98px) and (max-width: 1199.98px) and (orientation: landscape) {
  .h1 {
    font-size: 1.5rem; }
  .h3 {
    font-size: 1rem; }
  .h1Style {
    font-size: 1.5rem; }
  .h2Style {
    font-size: 1.2rem; }
  .h3Style {
    font-size: 1rem; } }

@media (max-width: 575.98px) and (orientation: portrait) {
  h1 {
    font-size: 1.5rem; }
  h2 {
    font-size: 1.1rem; }
  .h3 {
    font-size: 0.5rem; } }

h3 {
  font-family: 'Masao', sans-serif; }

h4 {
  font-family: 'Masao', sans-serif; }

h5 {
  font-size: 1.5rem;
  font-family: 'Masao', sans-serif; }

.card-text {
  text-align: center;
  font-size: 20px; }

.tokio-logo {
  height: 10vh; }

body {
  background-color: rgba(0, 0, 0, 0.911); }

ul.dropdown-menu.show a {
  color: white; }
  ul.dropdown-menu.show a:hover {
    color: orangered; }

ul.dropdown-menu.show {
  background-color: #161616; }

.carousel-item {
  position: relative; }
  .carousel-item .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.644);
    z-index: 10; }
  .carousel-item .carousel-caption {
    position: absolute;
    z-index: 15; }

.carousel-control-prev, .carousel-control-next {
  z-index: 15; }
